*{
    margin:0px;
    padding:0px;
}

h1{
    text-align: center;
}
.page-container{
    display:flex;
    margin:0px;
    padding:0px;
    flex-direction: row;


}

.menu{
    text-align: center;
    flex-direction: column;
    flex-grow:1;
    margin:0px;
    padding:0px;
    width:20%;
    height:100%;
    background: #FFBB2A;
    align-items: center;
}

.menuButton{
    flex-grow:1;
    width: 95%;
    margin:5px;
    padding:5px;
    border-radius:12px;
}

.menuButton:hover{
    color: white;
}

.window{
    margin:0px;
    padding:0px;
    width:75%;
    background:#5BBA6F;
    height:100%;
    align-content: flex-start;

}

#inputArea{
    padding:2%;
}

#commandTitle{
    text-align: center;
    padding:5%;
}